 html,
 body {
     font-family: Arial, serif;
     height: 100%;
     margin: 0;
     padding: 0;
 }

 .hamburgerButton {
     display: inline-block;
     cursor: pointer;
     position: absolute;
     margin-left: 280px;

 }

 .bar1,
 .bar2,
 .bar3 {
     width: 35px;
     height: 5px;
     background-color: wheat;
     margin: 6px 0;
     transition: 0.4s;
 }

 .change .bar1 {
     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px);
 }

 .change .bar2 {
     opacity: 0;
 }

 .change .bar3 {
     -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px);
 }

 .hide {
     display: none;
 }


 #map {
     bottom: 0px;
     height: 100%;
     left: 0px;
     right: 0px;
     position: absolute;
 }

 .search {
     background-color: #ffffff;
     border: 5px solid #000000;
     border-radius: 10px;
     height: 90%;
     line-height: 35px;
     padding: 10px 10px 0px 0px;
     width: 250px;
     color: black;
     text-align: center;
     position: fixed;
 }

 #search-bar {
     width: 140px;
     border: 4px solid #00B4CC;
     border-radius: 15px;
     height: 4%;
     margin: 20px 20px 40px 0px;
     padding-left: 10px;
     color: brown;
     font-size: 1em;
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;
 }

 #search-bar:hover {
     width: 95%;
 }

 .error-msg {
     margin-left: 40%;
 }

 #list-stores {
     background-color: white;
     font-family: serif;
     margin-bottom: 4px;
     margin-right: 50px;
     font-weight: bold;
     font-size: 15px;
     border: 1px solid #00B4CC;
     text-align: center;
 }

 ul {
     list-style-type: none;

 }

 /* clears the 'X' on search bar */

 input[type=search]::-ms-clear {
     display: none;
     width: 0;
     height: 0;
 }

 input[type=search]::-ms-reveal {
     display: none;
     width: 0;
     height: 0;
 }

 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-results-button,
 input[type="search"]::-webkit-search-results-decoration {
     display: none;
 }
